@import 'colors';

#nav-bar {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: $rich-black;
  height: 100px;
  top: 0;

  #title-container {
    color: $current-blue;
    font-size: 1.5em;
    display: inline-block;
    border: 1px solid $current-blue;

    .title {
      text-align:center;
    }

    .logo-container {
      width: 100px;
      overflow: hidden;
    }

    @keyframes wave {
      0% {
        left: -80px;
      }
      100% {
        left: 0;
      }
    }

    .logo-container svg {
      position: relative;
      left: -50px;
      width: 200px;
      animation: wave 2s linear infinite;
    }
  }
}

#main-container {
  height: 100%;
}

video-list {
  height: 100%;
}

#github-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  opacity: 0.5;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.icon {
  display: block;
  background-size: contain;

  &-github {
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/icon-github.svg');
  }
}
