{
  "env": {
    "mocha": true
  },
  "globals": {
    "chai": true,
    "expect": true,
    "request": true,
    "authMock": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "no-unused-vars": 0
  }
}
