<div class="login-container">
  <form>
    <label><b>Username</b></label>
    <input type="text" ng-model="username" autocomplete="on" required>

    <label><b>Password</b></label>
    <input type="password" ng-model="password" autocomplete="on" required>

    <button ng-click="$ctrl.submit()">Login</button>
    <!-- <label>
      <input type="checkbox" checked="checked"> Remember me
    </label> -->
  </form>
  <div ng-show="$ctrl.error" class="login-error">
    <div ng-show="$ctrl.errorState === 404">
      Username does not exist.
    </div>
    <div ng-show="$ctrl.errorState === 400">
      Incorrect password.
    </div>
  </div>
</div>
